<div class="container" align="center">

    <div class="col s12 m2">
        <p class="z-depth-5">
          <br>
            <img src="https://i.imgur.com/lclqVOA.jpg" class="responsive-img">
            <br><br>
        </p>
      </div>


      <div class="col s12 m2">
          <p class="z-depth-5">
            <br>
            <strong>
                <h3>Informações do Evento</h3>
                <li>Descrição: Track Day </li>
                <li>Local: Interlagos</li>
                <li>Horario: 7:00 as 17:00</li>
              </strong><br><br>
          </p>
        </div>


  
  
      <div class="col s12 m2">
        <p class="z-depth-5">
          <strong><h3>Localização do Evento</h3></strong>
            <img src="http://theark.org/sites/all/themes/the_ark/images/ark-map-img.png" width="500px" height="400px" class="responsive-img">
            <br><br>
        </p>
      </div>

</div>
  

